/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.banner {
  width: 500px;
  margin: 0 auto 16px;
  display: block;
  text-align: right;
}

.banner__image {
  width: 100%;
  display: inline-block;
  margin-bottom: -4px;
}

.banner__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .banner {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-row-wrapper {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task-list__item {
  list-style: none;
}

input,
button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3A3a;
}

/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-list__item-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-list__item-text:focus {
  color: #333;
}


/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list__item.task-list__item--no-border{
  border-bottom: none;
}

.task-list__item .input,
.task-list__item .label,
.task-list__item .button,
.task-list__item .button__image {
  vertical-align: middle;
}

.task-list__item-checkbox {
  margin: 0 10px;
}

.task-list__item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-list__item .task-list__item-text {
  width: 226px;
}

.task-list__item-text.task-list__item-text--new {
  width: 318px;
}

.button__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__image:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task-list__item-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task-list__item .task-list__item-text {
  display: none;
}

.task-list .task-list__item--edit .task-list__item-text {
  display: inline-block;
  width: 224px;
}

.task-list .task-list__item--edit .task-list__item-label {
  display: none;
}
/* Just new line for commit */
/* One more line for commit */